name: deploy-backend

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: 
      - self-hosted
      - matetrip-backend-main   # 아까 runner 만들 때 넣은 라벨과 동일해야 합니다.

    steps:
      - name: Run deploy script on EC2
        run: |
          bash /home/ubuntu/app/matetrip-backend/deploy.sh
